---
- name: Gather information from routers
  hosts: cisco
  gather_facts: false

  tasks:
  - name: Backup Router Config
    cisco.ios.ios_command:
      commands: show run
    register: config
  
  - name: Get timestamp
    command: date +%Y%m%d%T
    register: timestamp
   
  - name: Save output to specified directory
    copy:
      content: "{{ config.stdout[0] }}"
      dest: "/var/lib/awx/backups/network_deployment/running-config_{{ inventory_hostname  }}.{{ timestamp.stdout }}.txt"
