---
- name: create netops user
  hosts: cisco
  gather_facts: false

  tasks:
  - name: Create Network Operator User        
    cisco.ios.ios_user:
      name: netadmin
      hashed_password: 
        type: 5
        value: 07afcac93fe75ee3766af646b74a0939
      privilege: 15
      state: present
